@if (isLoading) {
    <div class="apod-container">
        <div class="text-center pb-12">
            <h1 class="text-4xl font-bold pb-2">Today's picture</h1>
            <p class="text-center text-2xl pb-4">Loading...</p>
            <div class="bg-black my-4 w-200 h-120 animate-pulse"></div>
            <p class="date text-lg font-semibold text-center py-2">Loading...</p>
        </div>
        <div class="h-0.5 bg-black w-full"></div>
    </div>
} @else {
    <div class="apod-container">
        <div class="text-center pb-12">
            <h1 class="text-4xl font-bold pb-2">Today's picture</h1>
            <p class="text-center text-2xl pb-4">{{ apod.title }}</p>
            <img [src]="apod.url" [alt]="apod.title" class="apod-image" />
            <p class="date text-lg font-semibold text-center py-2">{{ apod.date }}</p>
            <p class="explanation text-md text-justify">{{ apod.explanation }}</p>
        </div>
        <div class="h-0.5 bg-black w-full"></div>
    </div>
}