<div class="flex flex-col items-center justify-center">
  <h1 class="text-2xl font-bold text-center md:text-sm">NASA</h1>
  <img [src]="nasaLogo" alt="NASA Logo" class="w-10 h-10">
  <h1 class="text-xl font-bold text-center md:text-sm">Astronomy Picture of the Day</h1>
</div>
<div class="apod-grid">
  @for (apod of apods; track apod.date) {
    <div class="apod-card">
      <h2>{{ apod.title }}</h2>
      <img [src]="apod.url" [alt]="apod.title">
      <p class="date">{{ apod.date }}</p>
      <p class="explanation">{{ apod.explanation }}</p>
      @if (apod.copyright) {
        <p class="copyright">© {{ apod.copyright }}</p>
      }
    </div>
  }
</div>