<div class="flex flex-col items-center justify-center">
  <h1 class="text-4xl font-bold text-center">NASA</h1>
  <img [src]="nasaLogo" alt="NASA Logo" width="200" height="100" loading="eager" class="w-auto h-auto">
  <h1 class="text-xl font-bold text-center">Astronomy Picture of the Day</h1>
  <p class="text-sm text-center py-2">
    This is a collection of 10 random Astronomy Pictures of the Day from NASA.
  </p>
  <!-- divider -->
  <div class="w-full h-0.5 bg-black my-8"></div>
</div>
<div class="flex flex-col items-center w-full justify-center gap-16">
  @for (apod of apods; track apod.date) {
    <div class="w-full">
      <h2 class="text-lg font-bold text-center py-2 md:text-2xl">{{ apod.title }}</h2>
      <div class="bg-black my-2 relative aspect-[16/9]">
        <img [src]="apod.url" [alt]="apod.title" loading="lazy" class="w-full h-full object-contain">
        <p class="text-sm text-white absolute bottom-2 right-2">{{apod.copyright}}</p>
      </div>
      <p class="date text-lg font-semibold text-center py-2">{{ apod.date }}</p>
      <p class="explanation text-md text-justify">{{ apod.explanation }}</p>
    </div>
    @if (apod.date !== apods[apods.length - 1].date) {
      <div class="w-full h-0.5 bg-black"></div>
    }
  }
</div>